// Package build implements the Azure ARM Build service API version 5.1-preview.
//
//
package build

// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

import (
	"context"
	"github.com/Azure/go-autorest/autorest"
	"github.com/Azure/go-autorest/autorest/azure"
	"github.com/Azure/go-autorest/autorest/date"
	"github.com/Azure/go-autorest/autorest/validation"
	"github.com/Azure/go-autorest/tracing"
	"github.com/satori/go.uuid"
	"net/http"
)

const (
	// DefaultBaseURI is the default URI used for the service Build
	DefaultBaseURI = "https://dev.azure.com"
)

//// TO ADD
type BuildClient struct {
	BaseClient
}

// NewDatabaseAccountsClient creates an instance of the DatabaseAccountsClient client.
func NewBuildClient() BuildClient {
	return NewBuildClientWithBaseURI(DefaultBaseURI)
}

// NewDatabaseAccountsClientWithBaseURI creates an instance of the DatabaseAccountsClient client.
func NewBuildClientWithBaseURI(baseURI string) BuildClient {
	return BuildClient{NewWithBaseURI(baseURI)}
}

////

// BaseClient is the base client for Build.
type BaseClient struct {
	autorest.Client
	BaseURI string
}

// New creates an instance of the BaseClient client.
func New() BaseClient {
	return NewWithBaseURI(DefaultBaseURI)
}

// NewWithBaseURI creates an instance of the BaseClient client.
func NewWithBaseURI(baseURI string) BaseClient {

	return BaseClient{
		Client:  autorest.NewClientWithUserAgent(UserAgent()),
		BaseURI: baseURI,
	}
}

// AddBuildTag adds a tag to a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
// tag - the tag to add.
func (client BaseClient) AddBuildTag(ctx context.Context, organization string, project string, buildID int32, tag string) (result ListString, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.AddBuildTag")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.AddBuildTagPreparer(ctx, organization, project, buildID, tag)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddBuildTag", nil, "Failure preparing request")
		return
	}

	resp, err := client.AddBuildTagSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddBuildTag", resp, "Failure sending request")
		return
	}

	result, err = client.AddBuildTagResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddBuildTag", resp, "Failure responding to request")
	}

	return
}

// AddBuildTagPreparer prepares the AddBuildTag request.
func (client BaseClient) AddBuildTagPreparer(ctx context.Context, organization string, project string, buildID int32, tag string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
		"tag":          autorest.Encode("path", tag),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsPut(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/tags/{tag}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// AddBuildTagSender sends the AddBuildTag request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) AddBuildTagSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// AddBuildTagResponder handles the response to the AddBuildTag request. The method always
// closes the http.Response Body.
func (client BaseClient) AddBuildTagResponder(resp *http.Response) (result ListString, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// AddBuildTags adds tags to a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// body - the tags to add.
// project - project ID or project name
// buildID - the ID of the build.
func (client BaseClient) AddBuildTags(ctx context.Context, organization string, body []string, project string, buildID int32) (result ListString, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.AddBuildTags")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: body,
			Constraints: []validation.Constraint{{Target: "body", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("build.BaseClient", "AddBuildTags", err.Error())
	}

	req, err := client.AddBuildTagsPreparer(ctx, organization, body, project, buildID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddBuildTags", nil, "Failure preparing request")
		return
	}

	resp, err := client.AddBuildTagsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddBuildTags", resp, "Failure sending request")
		return
	}

	result, err = client.AddBuildTagsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddBuildTags", resp, "Failure responding to request")
	}

	return
}

// AddBuildTagsPreparer prepares the AddBuildTags request.
func (client BaseClient) AddBuildTagsPreparer(ctx context.Context, organization string, body []string, project string, buildID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/tags", pathParameters),
		autorest.WithJSON(body),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// AddBuildTagsSender sends the AddBuildTags request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) AddBuildTagsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// AddBuildTagsResponder handles the response to the AddBuildTags request. The method always
// closes the http.Response Body.
func (client BaseClient) AddBuildTagsResponder(resp *http.Response) (result ListString, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// AddDefinitionTag adds a tag to a definition
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// definitionID - the ID of the definition.
// tag - the tag to add.
func (client BaseClient) AddDefinitionTag(ctx context.Context, organization string, project string, definitionID int32, tag string) (result ListString, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.AddDefinitionTag")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.AddDefinitionTagPreparer(ctx, organization, project, definitionID, tag)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddDefinitionTag", nil, "Failure preparing request")
		return
	}

	resp, err := client.AddDefinitionTagSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddDefinitionTag", resp, "Failure sending request")
		return
	}

	result, err = client.AddDefinitionTagResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddDefinitionTag", resp, "Failure responding to request")
	}

	return
}

// AddDefinitionTagPreparer prepares the AddDefinitionTag request.
func (client BaseClient) AddDefinitionTagPreparer(ctx context.Context, organization string, project string, definitionID int32, tag string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"definitionId": autorest.Encode("path", definitionID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
		"tag":          autorest.Encode("path", tag),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsPut(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/definitions/{DefinitionId}/tags/{tag}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// AddDefinitionTagSender sends the AddDefinitionTag request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) AddDefinitionTagSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// AddDefinitionTagResponder handles the response to the AddDefinitionTag request. The method always
// closes the http.Response Body.
func (client BaseClient) AddDefinitionTagResponder(resp *http.Response) (result ListString, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// AddDefinitionTags adds multiple tags to a definition.
// Parameters:
// organization - the name of the Azure DevOps organization.
// body - the tags to add.
// project - project ID or project name
// definitionID - the ID of the definition.
func (client BaseClient) AddDefinitionTags(ctx context.Context, organization string, body []string, project string, definitionID int32) (result ListString, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.AddDefinitionTags")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: body,
			Constraints: []validation.Constraint{{Target: "body", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("build.BaseClient", "AddDefinitionTags", err.Error())
	}

	req, err := client.AddDefinitionTagsPreparer(ctx, organization, body, project, definitionID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddDefinitionTags", nil, "Failure preparing request")
		return
	}

	resp, err := client.AddDefinitionTagsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddDefinitionTags", resp, "Failure sending request")
		return
	}

	result, err = client.AddDefinitionTagsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AddDefinitionTags", resp, "Failure responding to request")
	}

	return
}

// AddDefinitionTagsPreparer prepares the AddDefinitionTags request.
func (client BaseClient) AddDefinitionTagsPreparer(ctx context.Context, organization string, body []string, project string, definitionID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"definitionId": autorest.Encode("path", definitionID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/definitions/{DefinitionId}/tags", pathParameters),
		autorest.WithJSON(body),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// AddDefinitionTagsSender sends the AddDefinitionTags request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) AddDefinitionTagsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// AddDefinitionTagsResponder handles the response to the AddDefinitionTags request. The method always
// closes the http.Response Body.
func (client BaseClient) AddDefinitionTagsResponder(resp *http.Response) (result ListString, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// AuthorizeDefinitionResources sends the authorize definition resources request.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
func (client BaseClient) AuthorizeDefinitionResources(ctx context.Context, organization string, body []DefinitionResourceReference, project string, definitionID int32) (result ListDefinitionResourceReference, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.AuthorizeDefinitionResources")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: body,
			Constraints: []validation.Constraint{{Target: "body", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("build.BaseClient", "AuthorizeDefinitionResources", err.Error())
	}

	req, err := client.AuthorizeDefinitionResourcesPreparer(ctx, organization, body, project, definitionID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AuthorizeDefinitionResources", nil, "Failure preparing request")
		return
	}

	resp, err := client.AuthorizeDefinitionResourcesSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AuthorizeDefinitionResources", resp, "Failure sending request")
		return
	}

	result, err = client.AuthorizeDefinitionResourcesResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AuthorizeDefinitionResources", resp, "Failure responding to request")
	}

	return
}

// AuthorizeDefinitionResourcesPreparer prepares the AuthorizeDefinitionResources request.
func (client BaseClient) AuthorizeDefinitionResourcesPreparer(ctx context.Context, organization string, body []DefinitionResourceReference, project string, definitionID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"definitionId": autorest.Encode("path", definitionID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPatch(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/definitions/{definitionId}/resources", pathParameters),
		autorest.WithJSON(body),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// AuthorizeDefinitionResourcesSender sends the AuthorizeDefinitionResources request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) AuthorizeDefinitionResourcesSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// AuthorizeDefinitionResourcesResponder handles the response to the AuthorizeDefinitionResources request. The method always
// closes the http.Response Body.
func (client BaseClient) AuthorizeDefinitionResourcesResponder(resp *http.Response) (result ListDefinitionResourceReference, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// AuthorizeProjectResources sends the authorize project resources request.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
func (client BaseClient) AuthorizeProjectResources(ctx context.Context, organization string, body []DefinitionResourceReference, project string) (result ListDefinitionResourceReference, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.AuthorizeProjectResources")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	if err := validation.Validate([]validation.Validation{
		{TargetValue: body,
			Constraints: []validation.Constraint{{Target: "body", Name: validation.Null, Rule: true, Chain: nil}}}}); err != nil {
		return result, validation.NewError("build.BaseClient", "AuthorizeProjectResources", err.Error())
	}

	req, err := client.AuthorizeProjectResourcesPreparer(ctx, organization, body, project)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AuthorizeProjectResources", nil, "Failure preparing request")
		return
	}

	resp, err := client.AuthorizeProjectResourcesSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AuthorizeProjectResources", resp, "Failure sending request")
		return
	}

	result, err = client.AuthorizeProjectResourcesResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "AuthorizeProjectResources", resp, "Failure responding to request")
	}

	return
}

// AuthorizeProjectResourcesPreparer prepares the AuthorizeProjectResources request.
func (client BaseClient) AuthorizeProjectResourcesPreparer(ctx context.Context, organization string, body []DefinitionResourceReference, project string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPatch(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/authorizedresources", pathParameters),
		autorest.WithJSON(body),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// AuthorizeProjectResourcesSender sends the AuthorizeProjectResources request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) AuthorizeProjectResourcesSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// AuthorizeProjectResourcesResponder handles the response to the AuthorizeProjectResources request. The method always
// closes the http.Response Body.
func (client BaseClient) AuthorizeProjectResourcesResponder(resp *http.Response) (result ListDefinitionResourceReference, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateArtifact associates an artifact with a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// body - the artifact.
// project - project ID or project name
// buildID - the ID of the build.
func (client BaseClient) CreateArtifact(ctx context.Context, organization string, body Artifact, project string, buildID int32) (result Artifact, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateArtifact")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.CreateArtifactPreparer(ctx, organization, body, project, buildID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateArtifact", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateArtifactSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateArtifact", resp, "Failure sending request")
		return
	}

	result, err = client.CreateArtifactResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateArtifact", resp, "Failure responding to request")
	}

	return
}

// CreateArtifactPreparer prepares the CreateArtifact request.
func (client BaseClient) CreateArtifactPreparer(ctx context.Context, organization string, body Artifact, project string, buildID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/artifacts", pathParameters),
		autorest.WithJSON(body),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateArtifactSender sends the CreateArtifact request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateArtifactSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateArtifactResponder handles the response to the CreateArtifact request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateArtifactResponder(resp *http.Response) (result Artifact, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateDefinition creates a new definition.
// Parameters:
// organization - the name of the Azure DevOps organization.
// body - the definition.
// project - project ID or project name
func (client BaseClient) CreateDefinition(ctx context.Context, organization string, body Definition, project string, definitionToCloneID *int32, definitionToCloneRevision *int32) (result Definition, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateDefinition")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.CreateDefinitionPreparer(ctx, organization, body, project, definitionToCloneID, definitionToCloneRevision)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateDefinition", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateDefinitionSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateDefinition", resp, "Failure sending request")
		return
	}

	result, err = client.CreateDefinitionResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateDefinition", resp, "Failure responding to request")
	}

	return
}

// CreateDefinitionPreparer prepares the CreateDefinition request.
func (client BaseClient) CreateDefinitionPreparer(ctx context.Context, organization string, body Definition, project string, definitionToCloneID *int32, definitionToCloneRevision *int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if definitionToCloneID != nil {
		queryParameters["definitionToCloneId"] = autorest.Encode("query", *definitionToCloneID)
	}
	if definitionToCloneRevision != nil {
		queryParameters["definitionToCloneRevision"] = autorest.Encode("query", *definitionToCloneRevision)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPost(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/definitions", pathParameters),
		autorest.WithJSON(body),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateDefinitionSender sends the CreateDefinition request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateDefinitionSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateDefinitionResponder handles the response to the CreateDefinition request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateDefinitionResponder(resp *http.Response) (result Definition, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// CreateFolder creates a new folder.
// Parameters:
// organization - the name of the Azure DevOps organization.
// body - the folder.
// project - project ID or project name
// pathParameter - the full path of the folder.
func (client BaseClient) CreateFolder(ctx context.Context, organization string, body Folder, project string, pathParameter string) (result Folder, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.CreateFolder")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.CreateFolderPreparer(ctx, organization, body, project, pathParameter)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateFolder", nil, "Failure preparing request")
		return
	}

	resp, err := client.CreateFolderSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateFolder", resp, "Failure sending request")
		return
	}

	result, err = client.CreateFolderResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "CreateFolder", resp, "Failure responding to request")
	}

	return
}

// CreateFolderPreparer prepares the CreateFolder request.
func (client BaseClient) CreateFolderPreparer(ctx context.Context, organization string, body Folder, project string, pathParameter string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"organization": autorest.Encode("path", organization),
		"path":         autorest.Encode("path", pathParameter),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsContentType("application/json; charset=utf-8"),
		autorest.AsPut(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/folders/{path}", pathParameters),
		autorest.WithJSON(body),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// CreateFolderSender sends the CreateFolder request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) CreateFolderSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// CreateFolderResponder handles the response to the CreateFolder request. The method always
// closes the http.Response Body.
func (client BaseClient) CreateFolderResponder(resp *http.Response) (result Folder, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteBuild deletes a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
func (client BaseClient) DeleteBuild(ctx context.Context, organization string, project string, buildID int32) (result autorest.Response, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteBuild")
		defer func() {
			sc := -1
			if result.Response != nil {
				sc = result.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteBuildPreparer(ctx, organization, project, buildID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteBuild", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteBuildSender(req)
	if err != nil {
		result.Response = resp
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteBuild", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteBuildResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteBuild", resp, "Failure responding to request")
	}

	return
}

// DeleteBuildPreparer prepares the DeleteBuild request.
func (client BaseClient) DeleteBuildPreparer(ctx context.Context, organization string, project string, buildID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteBuildSender sends the DeleteBuild request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteBuildSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteBuildResponder handles the response to the DeleteBuild request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteBuildResponder(resp *http.Response) (result autorest.Response, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByClosing())
	result.Response = resp
	return
}

// DeleteBuildTag removes a tag from a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
// tag - the tag to remove.
func (client BaseClient) DeleteBuildTag(ctx context.Context, organization string, project string, buildID int32, tag string) (result ListString, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteBuildTag")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteBuildTagPreparer(ctx, organization, project, buildID, tag)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteBuildTag", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteBuildTagSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteBuildTag", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteBuildTagResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteBuildTag", resp, "Failure responding to request")
	}

	return
}

// DeleteBuildTagPreparer prepares the DeleteBuildTag request.
func (client BaseClient) DeleteBuildTagPreparer(ctx context.Context, organization string, project string, buildID int32, tag string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
		"tag":          autorest.Encode("path", tag),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/tags/{tag}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteBuildTagSender sends the DeleteBuildTag request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteBuildTagSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteBuildTagResponder handles the response to the DeleteBuildTag request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteBuildTagResponder(resp *http.Response) (result ListString, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteDefinition deletes a definition and all associated builds.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// definitionID - the ID of the definition.
func (client BaseClient) DeleteDefinition(ctx context.Context, organization string, project string, definitionID int32) (result autorest.Response, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteDefinition")
		defer func() {
			sc := -1
			if result.Response != nil {
				sc = result.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteDefinitionPreparer(ctx, organization, project, definitionID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteDefinition", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteDefinitionSender(req)
	if err != nil {
		result.Response = resp
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteDefinition", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteDefinitionResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteDefinition", resp, "Failure responding to request")
	}

	return
}

// DeleteDefinitionPreparer prepares the DeleteDefinition request.
func (client BaseClient) DeleteDefinitionPreparer(ctx context.Context, organization string, project string, definitionID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"definitionId": autorest.Encode("path", definitionID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/definitions/{definitionId}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteDefinitionSender sends the DeleteDefinition request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteDefinitionSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteDefinitionResponder handles the response to the DeleteDefinition request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteDefinitionResponder(resp *http.Response) (result autorest.Response, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByClosing())
	result.Response = resp
	return
}

// DeleteDefinitionTag removes a tag from a definition.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// definitionID - the ID of the definition.
// tag - the tag to remove.
func (client BaseClient) DeleteDefinitionTag(ctx context.Context, organization string, project string, definitionID int32, tag string) (result ListString, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteDefinitionTag")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteDefinitionTagPreparer(ctx, organization, project, definitionID, tag)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteDefinitionTag", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteDefinitionTagSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteDefinitionTag", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteDefinitionTagResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteDefinitionTag", resp, "Failure responding to request")
	}

	return
}

// DeleteDefinitionTagPreparer prepares the DeleteDefinitionTag request.
func (client BaseClient) DeleteDefinitionTagPreparer(ctx context.Context, organization string, project string, definitionID int32, tag string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"definitionId": autorest.Encode("path", definitionID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
		"tag":          autorest.Encode("path", tag),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/definitions/{DefinitionId}/tags/{tag}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteDefinitionTagSender sends the DeleteDefinitionTag request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteDefinitionTagSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteDefinitionTagResponder handles the response to the DeleteDefinitionTag request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteDefinitionTagResponder(resp *http.Response) (result ListString, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// DeleteFolder deletes a definition folder. Definitions and their corresponding builds will also be deleted.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// pathParameter - the full path to the folder.
func (client BaseClient) DeleteFolder(ctx context.Context, organization string, project string, pathParameter string) (result autorest.Response, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteFolder")
		defer func() {
			sc := -1
			if result.Response != nil {
				sc = result.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteFolderPreparer(ctx, organization, project, pathParameter)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteFolder", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteFolderSender(req)
	if err != nil {
		result.Response = resp
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteFolder", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteFolderResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteFolder", resp, "Failure responding to request")
	}

	return
}

// DeleteFolderPreparer prepares the DeleteFolder request.
func (client BaseClient) DeleteFolderPreparer(ctx context.Context, organization string, project string, pathParameter string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"organization": autorest.Encode("path", organization),
		"path":         autorest.Encode("path", pathParameter),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/folders/{path}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteFolderSender sends the DeleteFolder request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteFolderSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteFolderResponder handles the response to the DeleteFolder request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteFolderResponder(resp *http.Response) (result autorest.Response, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByClosing())
	result.Response = resp
	return
}

// DeleteTemplate deletes a build definition template.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// templateID - the ID of the template.
func (client BaseClient) DeleteTemplate(ctx context.Context, organization string, project string, templateID string) (result autorest.Response, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.DeleteTemplate")
		defer func() {
			sc := -1
			if result.Response != nil {
				sc = result.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.DeleteTemplatePreparer(ctx, organization, project, templateID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteTemplate", nil, "Failure preparing request")
		return
	}

	resp, err := client.DeleteTemplateSender(req)
	if err != nil {
		result.Response = resp
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteTemplate", resp, "Failure sending request")
		return
	}

	result, err = client.DeleteTemplateResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "DeleteTemplate", resp, "Failure responding to request")
	}

	return
}

// DeleteTemplatePreparer prepares the DeleteTemplate request.
func (client BaseClient) DeleteTemplatePreparer(ctx context.Context, organization string, project string, templateID string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
		"templateId":   autorest.Encode("path", templateID),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsDelete(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/definitions/templates/{templateId}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// DeleteTemplateSender sends the DeleteTemplate request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) DeleteTemplateSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// DeleteTemplateResponder handles the response to the DeleteTemplate request. The method always
// closes the http.Response Body.
func (client BaseClient) DeleteTemplateResponder(resp *http.Response) (result autorest.Response, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByClosing())
	result.Response = resp
	return
}

// GetArtifact gets a specific artifact for a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
// artifactName - the name of the artifact.
func (client BaseClient) GetArtifact(ctx context.Context, organization string, project string, buildID int32, artifactName string) (result Artifact, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetArtifact")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetArtifactPreparer(ctx, organization, project, buildID, artifactName)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetArtifact", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetArtifactSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetArtifact", resp, "Failure sending request")
		return
	}

	result, err = client.GetArtifactResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetArtifact", resp, "Failure responding to request")
	}

	return
}

// GetArtifactPreparer prepares the GetArtifact request.
func (client BaseClient) GetArtifactPreparer(ctx context.Context, organization string, project string, buildID int32, artifactName string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version":  APIVersion,
		"artifactName": autorest.Encode("query", artifactName),
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/artifacts", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetArtifactSender sends the GetArtifact request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetArtifactSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetArtifactResponder handles the response to the GetArtifact request. The method always
// closes the http.Response Body.
func (client BaseClient) GetArtifactResponder(resp *http.Response) (result Artifact, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetArtifacts gets all artifacts for a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
func (client BaseClient) GetArtifacts(ctx context.Context, organization string, project string, buildID int32) (result ListArtifact, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetArtifacts")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetArtifactsPreparer(ctx, organization, project, buildID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetArtifacts", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetArtifactsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetArtifacts", resp, "Failure sending request")
		return
	}

	result, err = client.GetArtifactsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetArtifacts", resp, "Failure responding to request")
	}

	return
}

// GetArtifactsPreparer prepares the GetArtifacts request.
func (client BaseClient) GetArtifactsPreparer(ctx context.Context, organization string, project string, buildID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/artifacts", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetArtifactsSender sends the GetArtifacts request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetArtifactsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetArtifactsResponder handles the response to the GetArtifacts request. The method always
// closes the http.Response Body.
func (client BaseClient) GetArtifactsResponder(resp *http.Response) (result ListArtifact, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetAttachment gets a specific attachment.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
// timelineID - the ID of the timeline.
// recordID - the ID of the timeline record.
// typeParameter - the type of the attachment.
// name - the name of the attachment.
func (client BaseClient) GetAttachment(ctx context.Context, organization string, project string, buildID int32, timelineID uuid.UUID, recordID uuid.UUID, typeParameter string, name string) (result String, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetAttachment")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetAttachmentPreparer(ctx, organization, project, buildID, timelineID, recordID, typeParameter, name)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetAttachment", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetAttachmentSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetAttachment", resp, "Failure sending request")
		return
	}

	result, err = client.GetAttachmentResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetAttachment", resp, "Failure responding to request")
	}

	return
}

// GetAttachmentPreparer prepares the GetAttachment request.
func (client BaseClient) GetAttachmentPreparer(ctx context.Context, organization string, project string, buildID int32, timelineID uuid.UUID, recordID uuid.UUID, typeParameter string, name string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"name":         autorest.Encode("path", name),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
		"recordId":     autorest.Encode("path", recordID),
		"timelineId":   autorest.Encode("path", timelineID),
		"type":         autorest.Encode("path", typeParameter),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/{timelineId}/{recordId}/attachments/{type}/{name}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetAttachmentSender sends the GetAttachment request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetAttachmentSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetAttachmentResponder handles the response to the GetAttachment request. The method always
// closes the http.Response Body.
func (client BaseClient) GetAttachmentResponder(resp *http.Response) (result String, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetAttachments gets the list of attachments of a specific type that are associated with a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
// typeParameter - the type of attachment.
func (client BaseClient) GetAttachments(ctx context.Context, organization string, project string, buildID int32, typeParameter string) (result ListAttachment, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetAttachments")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetAttachmentsPreparer(ctx, organization, project, buildID, typeParameter)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetAttachments", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetAttachmentsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetAttachments", resp, "Failure sending request")
		return
	}

	result, err = client.GetAttachmentsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetAttachments", resp, "Failure responding to request")
	}

	return
}

// GetAttachmentsPreparer prepares the GetAttachments request.
func (client BaseClient) GetAttachmentsPreparer(ctx context.Context, organization string, project string, buildID int32, typeParameter string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
		"type":         autorest.Encode("path", typeParameter),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/attachments/{type}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetAttachmentsSender sends the GetAttachments request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetAttachmentsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetAttachmentsResponder handles the response to the GetAttachments request. The method always
// closes the http.Response Body.
func (client BaseClient) GetAttachmentsResponder(resp *http.Response) (result ListAttachment, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBadge use StatusBadgeController.GetStatusBadge
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - the project ID or name.
// definitionID - the ID of the definition.
// branchName - the name of the branch.
func (client BaseClient) GetBadge(ctx context.Context, organization string, project uuid.UUID, definitionID int32, branchName string) (result String, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBadge")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBadgePreparer(ctx, organization, project, definitionID, branchName)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBadge", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBadgeSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBadge", resp, "Failure sending request")
		return
	}

	result, err = client.GetBadgeResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBadge", resp, "Failure responding to request")
	}

	return
}

// GetBadgePreparer prepares the GetBadge request.
func (client BaseClient) GetBadgePreparer(ctx context.Context, organization string, project uuid.UUID, definitionID int32, branchName string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"definitionId": autorest.Encode("path", definitionID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if len(branchName) > 0 {
		queryParameters["branchName"] = autorest.Encode("query", branchName)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/_apis/public/build/definitions/{project}/{definitionId}/badge", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBadgeSender sends the GetBadge request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBadgeSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBadgeResponder handles the response to the GetBadge request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBadgeResponder(resp *http.Response) (result String, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuild gets a build
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
func (client BaseClient) GetBuild(ctx context.Context, organization string, project string, buildID int32, propertyFilters string) (result Model, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuild")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildPreparer(ctx, organization, project, buildID, propertyFilters)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuild", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuild", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuild", resp, "Failure responding to request")
	}

	return
}

// GetBuildPreparer prepares the GetBuild request.
func (client BaseClient) GetBuildPreparer(ctx context.Context, organization string, project string, buildID int32, propertyFilters string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if len(propertyFilters) > 0 {
		queryParameters["propertyFilters"] = autorest.Encode("query", propertyFilters)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildSender sends the GetBuild request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildResponder handles the response to the GetBuild request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildResponder(resp *http.Response) (result Model, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildBadge gets a badge that indicates the status of the most recent build for the specified branch.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// repoType - the repository type.
// repoID - the repository ID.
// branchName - the branch name.
func (client BaseClient) GetBuildBadge(ctx context.Context, organization string, project string, repoType string, repoID string, branchName string) (result String, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildBadge")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildBadgePreparer(ctx, organization, project, repoType, repoID, branchName)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildBadge", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildBadgeSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildBadge", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildBadgeResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildBadge", resp, "Failure responding to request")
	}

	return
}

// GetBuildBadgePreparer prepares the GetBuildBadge request.
func (client BaseClient) GetBuildBadgePreparer(ctx context.Context, organization string, project string, repoType string, repoID string, branchName string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
		"repoType":     autorest.Encode("path", repoType),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if len(repoID) > 0 {
		queryParameters["repoId"] = autorest.Encode("query", repoID)
	}
	if len(branchName) > 0 {
		queryParameters["branchName"] = autorest.Encode("query", branchName)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/repos/{repoType}/badge", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildBadgeSender sends the GetBuildBadge request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildBadgeSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildBadgeResponder handles the response to the GetBuildBadge request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildBadgeResponder(resp *http.Response) (result String, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildChanges gets the changes associated with a build
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// top - the maximum number of changes to return
func (client BaseClient) GetBuildChanges(ctx context.Context, organization string, project string, buildID int32, continuationToken string, top *int32, includeSourceChange *bool) (result ListChange, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildChanges")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildChangesPreparer(ctx, organization, project, buildID, continuationToken, top, includeSourceChange)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildChanges", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildChangesSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildChanges", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildChangesResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildChanges", resp, "Failure responding to request")
	}

	return
}

// GetBuildChangesPreparer prepares the GetBuildChanges request.
func (client BaseClient) GetBuildChangesPreparer(ctx context.Context, organization string, project string, buildID int32, continuationToken string, top *int32, includeSourceChange *bool) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if len(continuationToken) > 0 {
		queryParameters["continuationToken"] = autorest.Encode("query", continuationToken)
	}
	if top != nil {
		queryParameters["$top"] = autorest.Encode("query", *top)
	}
	if includeSourceChange != nil {
		queryParameters["includeSourceChange"] = autorest.Encode("query", *includeSourceChange)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/changes", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildChangesSender sends the GetBuildChanges request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildChangesSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildChangesResponder handles the response to the GetBuildChanges request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildChangesResponder(resp *http.Response) (result ListChange, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildController gets a controller
// Parameters:
// organization - the name of the Azure DevOps organization.
func (client BaseClient) GetBuildController(ctx context.Context, organization string, controllerID int32) (result Controller, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildController")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildControllerPreparer(ctx, organization, controllerID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildController", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildControllerSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildController", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildControllerResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildController", resp, "Failure responding to request")
	}

	return
}

// GetBuildControllerPreparer prepares the GetBuildController request.
func (client BaseClient) GetBuildControllerPreparer(ctx context.Context, organization string, controllerID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"controllerId": autorest.Encode("path", controllerID),
		"organization": autorest.Encode("path", organization),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/_apis/build/controllers/{controllerId}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildControllerSender sends the GetBuildController request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildControllerSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildControllerResponder handles the response to the GetBuildController request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildControllerResponder(resp *http.Response) (result Controller, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildControllers gets controller, optionally filtered by name
// Parameters:
// organization - the name of the Azure DevOps organization.
func (client BaseClient) GetBuildControllers(ctx context.Context, organization string, name string) (result ListController, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildControllers")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildControllersPreparer(ctx, organization, name)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildControllers", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildControllersSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildControllers", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildControllersResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildControllers", resp, "Failure responding to request")
	}

	return
}

// GetBuildControllersPreparer prepares the GetBuildControllers request.
func (client BaseClient) GetBuildControllersPreparer(ctx context.Context, organization string, name string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"organization": autorest.Encode("path", organization),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if len(name) > 0 {
		queryParameters["name"] = autorest.Encode("query", name)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/_apis/build/controllers", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildControllersSender sends the GetBuildControllers request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildControllersSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildControllersResponder handles the response to the GetBuildControllers request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildControllersResponder(resp *http.Response) (result ListController, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildLog gets an individual log file for a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
// logID - the ID of the log file.
// startLine - the start line.
// endLine - the end line.
func (client BaseClient) GetBuildLog(ctx context.Context, organization string, project string, buildID int32, logID int32, startLine *int64, endLine *int64) (result String, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildLog")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildLogPreparer(ctx, organization, project, buildID, logID, startLine, endLine)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildLog", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildLogSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildLog", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildLogResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildLog", resp, "Failure responding to request")
	}

	return
}

// GetBuildLogPreparer prepares the GetBuildLog request.
func (client BaseClient) GetBuildLogPreparer(ctx context.Context, organization string, project string, buildID int32, logID int32, startLine *int64, endLine *int64) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"logId":        autorest.Encode("path", logID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if startLine != nil {
		queryParameters["startLine"] = autorest.Encode("query", *startLine)
	}
	if endLine != nil {
		queryParameters["endLine"] = autorest.Encode("query", *endLine)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/logs/{logId}", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildLogSender sends the GetBuildLog request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildLogSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildLogResponder handles the response to the GetBuildLog request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildLogResponder(resp *http.Response) (result String, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildLogs gets the logs for a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
func (client BaseClient) GetBuildLogs(ctx context.Context, organization string, project string, buildID int32) (result ListLog, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildLogs")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildLogsPreparer(ctx, organization, project, buildID)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildLogs", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildLogsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildLogs", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildLogsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildLogs", resp, "Failure responding to request")
	}

	return
}

// GetBuildLogsPreparer prepares the GetBuildLogs request.
func (client BaseClient) GetBuildLogsPreparer(ctx context.Context, organization string, project string, buildID int32) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/logs", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildLogsSender sends the GetBuildLogs request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildLogsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildLogsResponder handles the response to the GetBuildLogs request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildLogsResponder(resp *http.Response) (result ListLog, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildOptionDefinitions gets all build definition options supported by the system.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
func (client BaseClient) GetBuildOptionDefinitions(ctx context.Context, organization string, project string) (result ListOptionDefinition, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildOptionDefinitions")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildOptionDefinitionsPreparer(ctx, organization, project)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildOptionDefinitions", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildOptionDefinitionsSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildOptionDefinitions", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildOptionDefinitionsResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildOptionDefinitions", resp, "Failure responding to request")
	}

	return
}

// GetBuildOptionDefinitionsPreparer prepares the GetBuildOptionDefinitions request.
func (client BaseClient) GetBuildOptionDefinitionsPreparer(ctx context.Context, organization string, project string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/options", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildOptionDefinitionsSender sends the GetBuildOptionDefinitions request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildOptionDefinitionsSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildOptionDefinitionsResponder handles the response to the GetBuildOptionDefinitions request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildOptionDefinitionsResponder(resp *http.Response) (result ListOptionDefinition, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result.Value),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildProperties gets properties for a build.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
// filter - a comma-delimited list of properties. If specified, filters to these specific properties.
func (client BaseClient) GetBuildProperties(ctx context.Context, organization string, project string, buildID int32, filter string) (result PropertiesCollection, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildProperties")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildPropertiesPreparer(ctx, organization, project, buildID, filter)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildProperties", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildPropertiesSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildProperties", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildPropertiesResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildProperties", resp, "Failure responding to request")
	}

	return
}

// GetBuildPropertiesPreparer prepares the GetBuildProperties request.
func (client BaseClient) GetBuildPropertiesPreparer(ctx context.Context, organization string, project string, buildID int32, filter string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if len(filter) > 0 {
		queryParameters["filter"] = autorest.Encode("query", filter)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/properties", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildPropertiesSender sends the GetBuildProperties request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildPropertiesSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildPropertiesResponder handles the response to the GetBuildProperties request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildPropertiesResponder(resp *http.Response) (result PropertiesCollection, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuildReport gets a build report.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// buildID - the ID of the build.
func (client BaseClient) GetBuildReport(ctx context.Context, organization string, project string, buildID int32, typeParameter string) (result ReportMetadata, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuildReport")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildReportPreparer(ctx, organization, project, buildID, typeParameter)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildReport", nil, "Failure preparing request")
		return
	}

	resp, err := client.GetBuildReportSender(req)
	if err != nil {
		result.Response = autorest.Response{Response: resp}
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildReport", resp, "Failure sending request")
		return
	}

	result, err = client.GetBuildReportResponder(resp)
	if err != nil {
		err = autorest.NewErrorWithError(err, "build.BaseClient", "GetBuildReport", resp, "Failure responding to request")
	}

	return
}

// GetBuildReportPreparer prepares the GetBuildReport request.
func (client BaseClient) GetBuildReportPreparer(ctx context.Context, organization string, project string, buildID int32, typeParameter string) (*http.Request, error) {
	pathParameters := map[string]interface{}{
		"buildId":      autorest.Encode("path", buildID),
		"organization": autorest.Encode("path", organization),
		"project":      autorest.Encode("path", project),
	}

	const APIVersion = "5.1-preview"
	queryParameters := map[string]interface{}{
		"api-version": APIVersion,
	}
	if len(typeParameter) > 0 {
		queryParameters["type"] = autorest.Encode("query", typeParameter)
	}

	preparer := autorest.CreatePreparer(
		autorest.AsGet(),
		autorest.WithBaseURL(client.BaseURI),
		autorest.WithPathParameters("/{organization}/{project}/_apis/build/builds/{buildId}/report", pathParameters),
		autorest.WithQueryParameters(queryParameters))
	return preparer.Prepare((&http.Request{}).WithContext(ctx))
}

// GetBuildReportSender sends the GetBuildReport request. The method will close the
// http.Response Body if it receives an error.
func (client BaseClient) GetBuildReportSender(req *http.Request) (*http.Response, error) {
	return autorest.SendWithSender(client, req,
		autorest.DoRetryForStatusCodes(client.RetryAttempts, client.RetryDuration, autorest.StatusCodesForRetry...))
}

// GetBuildReportResponder handles the response to the GetBuildReport request. The method always
// closes the http.Response Body.
func (client BaseClient) GetBuildReportResponder(resp *http.Response) (result ReportMetadata, err error) {
	err = autorest.Respond(
		resp,
		client.ByInspecting(),
		azure.WithErrorUnlessStatusCode(http.StatusOK),
		autorest.ByUnmarshallingJSON(&result),
		autorest.ByClosing())
	result.Response = autorest.Response{Response: resp}
	return
}

// GetBuilds gets a list of builds.
// Parameters:
// organization - the name of the Azure DevOps organization.
// project - project ID or project name
// definitions - a comma-delimited list of definition IDs. If specified, filters to builds for these
// definitions.
// queues - a comma-delimited list of queue IDs. If specified, filters to builds that ran against these queues.
// buildNumber - if specified, filters to builds that match this build number. Append * to do a prefix search.
// minTime - if specified, filters to builds that finished/started/queued after this date based on the
// queryOrder specified.
// maxTime - if specified, filters to builds that finished/started/queued before this date based on the
// queryOrder specified.
// requestedFor - if specified, filters to builds requested for the specified user.
// reasonFilter - if specified, filters to builds that match this reason.
// statusFilter - if specified, filters to builds that match this status.
// resultFilter - if specified, filters to builds that match this result.
// tagFilters - a comma-delimited list of tags. If specified, filters to builds that have the specified tags.
// properties - a comma-delimited list of properties to retrieve.
// top - the maximum number of builds to return.
// continuationToken - a continuation token, returned by a previous call to this method, that can be used to
// return the next set of builds.
// maxBuildsPerDefinition - the maximum number of builds to return per definition.
// deletedFilter - indicates whether to exclude, include, or only return deleted builds.
// queryOrder - the order in which builds should be returned.
// branchName - if specified, filters to builds that built branches that built this branch.
// buildIds - a comma-delimited list that specifies the IDs of builds to retrieve.
// repositoryID - if specified, filters to builds that built from this repository.
// repositoryType - if specified, filters to builds that built from repositories of this type.
func (client BaseClient) GetBuilds(ctx context.Context, organization string, project string, definitions string, queues string, buildNumber string, minTime *date.Time, maxTime *date.Time, requestedFor string, reasonFilter Reason, statusFilter Status, resultFilter Result, tagFilters string, properties string, top *int32, continuationToken string, maxBuildsPerDefinition *int32, deletedFilter QueryDeletedOption, queryOrder QueryOrder, branchName string, buildIds string, repositoryID string, repositoryType string) (result ListModel, err error) {
	if tracing.IsEnabled() {
		ctx = tracing.StartSpan(ctx, fqdn+"/BaseClient.GetBuilds")
		defer func() {
			sc := -1
			if result.Response.Response != nil {
				sc = result.Response.Response.StatusCode
			}
			tracing.EndSpan(ctx, sc, err)
		}()
	}
	req, err := client.GetBuildsPreparer(ctx, organization, project, definitions, queues, buildNumber, minTime, maxTime, requestedFor, reasonFilter, statusFilter, resultFilter, tagFilters, properties, top, continuationToken, maxBuildsPerDefinition, deletedFilter, queryOrder, branchName, buildIds, repositoryID, repositoryType)
	if err != nil {
[...]
